@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400|Lobster+Two|McLaren);
/*
 * ETERNITECH1 THEME - (C)COPYRIGHT ETERNITY INCURAKAI STUDIOS & P110 TECH
 * Created by Peter Richards - 15/3/15
 * All Rights Reserved
 */

/* SET MAIN CONTENT */
body, html{
	padding:0;
	margin:0;
	font-family:'Montserrat','Arial';
}

/* HEADER AND FOOTER */
.header{
	width:100%;
	padding:1.5% 0;
	margin:0;
	background-color:#fff;
	vertical-align:middle;
}

.header-content{
	margin:10px;
	vertical-align:middle;
}

.footer{
	width:100%;
	margin:0;
	background-color:#00b0f0;
	vertical-align:middle;
	color:#fff;
	width:99.5%;
	padding:1.5% 0.5% 1.5% 0;
}

.footer-content{
	margin:10px;
	vertical-align:middle;
}

.logo{
	width:25%;
	margin-left:15px;
	vertical-align:middle;
}

/* CONTENT BOXES */
.topBox{
	padding:1% 0;
	font-size:20px;
	font-family:'Montserrat','Helvetica','Calibri','Arial';
	margin:0;
	background-color:#92d050;
	color:#fff;
}

.tob-box-content{
	padding:0;
	margin:0;
}

/* ERROR STYLING */
.error-cont{
	text-align:center;
}

.error-top{
	background-color:#d94343;
	text-align:center;
	padding:0;
}
