@import url(http://fonts.googleapis.com/css?family=Raleway|Open+Sans);
/*
 * WELD THEME - (C)COPYRIGHT ETERNITY INCURAKAI STUDIOS & P110 TECH
 * Created by Peter Richards - 30/4/15
 * All Rights Reserved
 */

/* BASIC STYLING */
body, html{
	margin:0;
	padding:0;
	background-color:#8fcf6a;
}

/* LOGIN STYLING */
.login-logo{
	width:30%;
}

.login_main{
	text-align:center;
	padding:5% 0 2% 0;
	font-family:'Open Sans','Arial';
}

.login-input{
	width:20%;
}

/* FORM STYLING */
input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style:solid;
	border-width:1px;
	border-color:#9c9c9c;
	padding:15px 5px;
	font-size:15px;
	text-align:center;
}

label{
	padding:0 0 0 1px;
}

.line-sep{
	width:17%;
}

.button{
	background-color:#007da3;
	color:#fff;
	cursor:pointer;
	font-family:'Raleway','Open Sans','Arial';
	border:0;
}

.button:hover{
	background-color:#0099c7;
}

/* MAIN STYLING */
.main{
	font-family:'Open Sans','Arial';
	width:80%;
	text-align:center;
	margin:0 auto;
	padding:2% 0;
}

.error{
	background-color:#ff9494;
	color:#ff0808;
	border-radius:5px;
	width:100%;
	padding:10px 0;
}

.pass{
	background-color:#75ff7a;
	color:#009e05;
	border-radius:5px;
	width:100%;
	padding:10px 0;
}

.progress{
    height:7px;
    width:7%;
    margin:0 2px;
    display:inline-block;
}

.card{
	width:70%;
	background-color:#fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
	padding:2%;
	margin:0 auto;
	text-align:left;
	color:#424242;
}