@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto|Montserrat:400,700|Open+Sans);
/*
 * AH THEME - (C)COPYRIGHT ETERNITY INCURAKAI STUDIOS & P110 TECH
 * Created by Peter Richards - 08/5/15
 * All Rights Reserved
 */

/* MAIN STYLING */
body,html{
	padding:0;
	margin:0;
	background-color:#ededed;
	font-family:'Calibri','Arial';
	width:100%;
}

/* BOX STYLING */
.main{
	text-align:center;
	width:100%;
}

.box{
	border-radius:10px;
	width:50%;
	background-color:#fff;
	padding:1%;
	margin:0 auto;
	-webkit-box-shadow: 0px 2px 3px 2px rgba(181,181,181,1);
	-moz-box-shadow: 0px 2px 3px 2px rgba(181,181,181,1);
	box-shadow: 0px 2px 3px 2px rgba(181,181,181,1);
}

.post{
	transition:0.3s;
}

.post:hover{
	background-color:#e8e8e8;
	padding:1.5%;
}

.header-box{
	width:99%;
	padding:1% 0 1% 1%;
	background-color:#d4efff;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(181,181,181,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(181,181,181,1);
	box-shadow: 0px 3px 3px 0px rgba(181,181,181,1);
}

.inline{
	display:inline-block;
}

h1{
	font-family:'Raleway','Arial';
}

h2{
	font-family:'Raleway','Arial';
}

/* FORM STYLING */
input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:0;
	padding:15px 5px;
	font-size:15px;
	text-align:center;
}

label{
	padding:0 0 0 1px;
}

.line-sep{
	width:17%;
}

.button{
	background-color:#007da3;
	color:#fff;
	cursor:pointer;
	font-family:'Raleway','Open Sans','Arial';
}

.button:hover{
	background-color:#0099c7;
}