@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto|Montserrat:400,700|Open+Sans);
/*
 * E-CON THEME - (C)COPYRIGHT ETERNITY INCURAKAI STUDIOS & P110 TECH
 * Created by Peter Richards - 08/5/15
 * All Rights Reserved
 */

/* MAIN STYLING */
body,html{
	padding:0;
	margin:0;
	background-color:#f3ebeb;
	height:100%;
	font-family:'Open Sans','Calibri','Arial';
}

/* INTERNAL E-CON LEVEL STYLING */
.econ_circle{
	width:100px;
	height:100px;
	border-radius:50px;
	font-size:40px;
	color:#fff;
	line-height:100px;
	text-align:center;
	font-family:'Montserrat',Arial;
	text-align:center;
	display: inline-block;
}

.econ_bar{
	width:100%;
	font-family:'Montserrat','Arial';
	text-align:center;
	color:#fff;
	font-size:30px;
	margin:0;
	padding:1% 0;
}

/* INTERNAL E-CON DASH */
.inline{
	display:inline-block;
	vertical-align:top;
}

.topBar{
	background-color:#eb3636;
	height:5%;
}

.sidebar{
	width:10%;
	height:90%;
	overflow:auto;
	background-color:#fff;
}

.main{
	width:90%;
	height:90%;
	overflow:auto;
}

.sidebar_option{
	width:100%;
	padding:15px 0;
	text-align:center;
	color:#000;
	cursor:pointer;
	transition:background-color .5s ease, color .2s ease;
	border-top:solid 1px #e3e3e3;
}

a.sidebar_a{
	text-decoration:none;
}

.sidebar_option:hover{
	background-color:#ffcc00;
	color:#fff;
}

.emergency_option{
	background-color:#ff6f00;
	font-weight:600;
	color:#fff;
	border:0;
}

.emergency_option:hover{
	background-color:#ffae00;
}

.card{
	width:90%;
	background-color:#fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(173,173,173,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(173,173,173,1);
	box-shadow: 0px 0px 5px 1px rgba(173,173,173,1);
	padding:1%;
	margin:2% auto;
}

.emergency_button{
	border-radius:5px;
	padding:10px;
	font-size:20px;
	background-color:#eb3636;
	border:0;
	color:#fff;
	width:20%;
	cursor:pointer;
	text-align:center;
}

/* TEXT STYLING */
.h1{
	font-family:'Raleway','Open Sans','Calibri','Arial';
	font-weight:500;
	font-size:50px;
}
