@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600|Open+Sans|Montserrat|Roboto:400,700);
/*
 *
 * This cascading style sheet is part of the Weld Package and P1 Framework
 * 
 * The P1 Framework and Weld CMS package is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * @license GPL
 * @license http://gnu.org/licenses/gpl-3.0.txt
 *
 * @author Peter Richards <peter.richards@p110tech.co.uk>
 * @version v0.2
 * @package Weld
 *
 */

/* BASIC STYLING */
body, html{
	margin:0;
	padding:0;
	background-color:#ebf3ed;
	width:100%;
	font-family:'Open Sans','Arial';
}

.inline{
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
}

.inline2{
	padding:0;
	margin:0;
	display:inline-block;
}

.ver{
	padding:5px;
}


/* LOGIN STYLING */
.login-logo{
	width:30%;
}

.login_main{
	text-align:center;
	padding:5% 0 2% 0;
	font-family:'Open Sans','Arial';
}

.login-input{
	width:20%;
}

.login-wrapper{
	/* background: url('/customisation/themes/weld/assets/login-back.jpg') no-repeat center center; */
	background-color:#8fcf6a;
	height:100%;
	width:100%;
	position: absolute; top: 0; bottom: 0;
	display:block;
	overflow:auto;
}

.login-body{
	min-height:100%;
}

/* BOX STYLING */
.col{
	width:50%;
	text-align:center;
}

.dash-header{
	text-align:center;
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
	-moz-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
	box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
	height:9%;
	color:#8fcf6a;
}

.dash-body{
	height:100%;
}

.dash_sidebar{
	width:8%;
	padding:0;
	margin:0;
	height:91%;
	overflow:auto;
	background-color:#fff;
	-webkit-box-shadow: 1px 4px 5px 0px rgba(173,173,173,1);
	-moz-box-shadow: 1px 4px 5px 0px rgba(173,173,173,1);
	box-shadow: 1px 4px 5px 0px rgba(173,173,173,1);
}

.dash_main{
	width:92%;
	height:91%;
	overflow:auto;
}

.dash-container{
	height:97%;
	width:99%;
	margin:1% 0 0 1%;
	overflow:auto;
}

.card{
	width:85%;
	background-color:#fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(173,173,173,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(173,173,173,1);
	box-shadow: 0px 0px 5px 1px rgba(173,173,173,1);
	padding:2%;
	margin:0 auto;
	text-align:left;
	color:#424242;
}

.sidebar_option{
	text-align:center;
	width:100%;
	padding:10px 0;
	color:#525252;
	transition:background-color 0.5s;
}

.sidebar_option:hover{
	background-color:#c4f2a9;
	color:#000;
}

.sidebar_a{
	text-decoration:none;
}

.logout{
	color:#525252;
	text-decoration:none;
	font-family:'Roboto','Raleway','Calibri','Arial';
}

.logout-a:hover{
	color:#000000;
	text-decoration:underline;
}


/* FORM STYLING */
input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:15px 5px;
	font-size:15px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:#a3a3a3;
}

label{
	padding:0 0 0 1px;
}

.line-sep{
	width:17%;
}

.button{
	background-color:#007da3;
	color:#fff;
	cursor:pointer;
	font-family:'Raleway','Open Sans','Arial';
	border:0;
}

.button:hover{
	background-color:#0099c7;
}

.error{
	background-color:#ff9494;
	color:#ff0808;
	border-radius:5px;
	width:100%;
	padding:10px 0;
}

.pass{
	background-color:#75ff7a;
	color:#009e05;
	border-radius:5px;
	width:100%;
	padding:10px 0;
}

/* TEXT STYLING */
h1{
	font-family:'Roboto','Calibri','Arial';
	font-weight:600;
	margin:1% 0;
}

h2{
	font-family:'Roboto','Calibri','Arial';
	font-weight:500;
	margin:1% 0;
}

h3{
	font-family:'Roboto','Calibri','Arial';
	font-weight:400;
	margin:1% 0;
}

h4{
	font-family:'Raleway','Calibri','Arial';
	margin:0;
	font-style: italic;
	color:#999999;
	font-weight:200;
}

p{
	font-family:'Open Sans','Calibri','Arial';
	color:#545454;
}

span a{
	text-decoration: none;
}

/* TABLE STYLING */
.WeldTable{
	padding:0;
	margin:0;
}

tr{
	border:solid #999999 !important;
    border-width:10px 0 !important;
    padding:100px 0 !important;
}

td{
	padding: 10px;
	border:solid #999999 !important;
    border-width:3px 0 0 0!important;
    margin:0;
}
